h1{
    color: red;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: x-large;
}

.game{
    font-family: monospace;
    color: lime;
}

.grid{
    display:flex;
    flex-wrap: wrap;
    justify-content:  space-evenly;
    padding: 5cm;
}